HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/




## Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

## Maven
**/target/
/target/
*/target/*
.settings/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.classpath
.project

## IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

## OS X
.DS_Store

## Project
/files/
/userTasks/
/testRepo/
/workspaces/
/workspaces/*
*.txt
*.png
*.svg

## Mongo-data backup
/mongo-data

## Dynamo-data backup
/dynamodb_data

#React
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/device-management-main/src/node_modules
/backend/device-management-main/src/.pnp
.pnp.js

# testing
/coverage

# production
/backend/device-management-main/src/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*